@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

.appContainer{


}
.topMenu__wrapper {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-image: url('https://previews.123rf.com/images/smuay/smuay1211/smuay121100045/16309419-close-up-recycle-paper-texture.jpg');
  /* position: fixed; */
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.topMenu {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;

  align-items: center;
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 30px;
  opacity: 100;


}
.topMenu * {
  cursor: pointer;
}
.topMenu *:hover {
  cursor: pointer;
  transform: skew(-20deg);
  border-bottom: 1px solid;

}
.topMenu__logo{
  height: inherit;
  width: 20%;
  background-color: #ffff;
  display: flex;
  background-image: url('https://previews.123rf.com/images/smuay/smuay1211/smuay121100045/16309419-close-up-recycle-paper-texture.jpg');
}
.saveTheDate{
  position: fixed;
  max-width: 100%;
}
.image__wrapper{
  display: flex;

}
.text__save{
  position: relative;
  color: #ffff;
  z-index: 99;
  margin-top: 20%;
  margin-left: 30%;
  font-family: 'Amatic SC';
  font-size: 5em;
}
.topMenu__title{
font-family: 'Amatic SC';
font-size: 36px;
margin-left: 10%;
align-self: center;
cursor: pointer;
}
.cursorMenu{
  cursor: pointer;
}
.sideMenu {
  width: 100%;
}


/* /////////////MENU/////////////////////// */

.menuWrapper{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.regal{
  width: 50%;
  height: 35%;

  overflow: hidden;
}
.hotels{
  width: 50%;
  height: 35%;

  overflow: hidden;
}
.dresscode{
  width: 50%;
  height: 35%;

  overflow: hidden;
}
.rsvp{
  width: 50%;
  height: 35%;

  overflow: hidden;
}
.boda{
  width: 100%;
  height: 32%;
  overflow: hidden;

}
.bodaIcon{
  width: 72px;
  height: 72px;
}
.menuIcon{
  width: 24px;
  height: 24px;
  align-self: center;
}
.menuWrapper * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 900px) {
  .imageHolder{
  display: none;

  }
}
/* very small */

@media (max-width: 900px) {
  .topMenu {
    display: none;
  }
  .topMenu__logo{
    width: 40%;
  }
  .menuIcon{
    align-self: flex-end;
  }
  .imageHolder{
    margin-right: 8%;
    justify-content: flex-end;

  }
  .topMenu__title{
    font-size: 24px;
  }
}
